<%= form_tag "/search", id: "js-search" do %>
  <%= text_field_tag "hotel[city]", nil, placeholder: "City" %>
  <%= number_field_tag "hotel[budget]", nil, placeholder: "Budget" %>
  <%= submit_tag "search" %>
<% end %>

<div class="container hotels-wrapper" id="hotel-container">

</div>
